#create-char-error
{
	font-family: monospace;
	white-space: pre-wrap;
}

.query-res
{
	width: 20px;
	height: 16px;
	display: inline-block;
	border: 1px solid black;
	margin: 1px 0 0 1px;
	padding: 1px;
	text-align: center;
	line-height: 16px;
}

.query-res-success
{
	background-color: #00DF70;
}

#login
{
	float: right;
	margin: 0;
	padding: 5px 10px 0;
	text-align: right;
}

#admin-switch
{
	float: right;
	padding: 4px 10px 0 0;
}