html,
body
{
	margin: 0;
	padding: 0;
	height: 100%;
}

#page
{
	margin: 0 auto;
	padding: 5px;
	width: 960px;
	border: 1px solid black;
}

#header
{
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	padding: 5px 10px;
}

#content
{
	margin-right: 210px;
	padding: 10px;
}

#menu
{
	margin: 0 0 10px 0;
	padding: 0;
	float: right;
	width: 200px;
}

#menu ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menu li
{
	padding: 5px;
}

#footer
{
	margin-top: 30px;
	margin-bottom: 0;
	text-align: center;
	clear: both;
	background: #f8f8f8;
	color: #9D9D9D;
}

.active
{
	font-weight: bold;
	color: fuchsia;
}

.disabled
{
	color: gray;
}

.actions-panel
{
	margin: 20px 10px 5px;
	padding: 10px 0 0;
	border-top: 2px solid black;
	height: 50px;
}

.sql-code
{
	margin-top: 5px;
	overflow: auto;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}