@media (max-width: 768px) {
	nav.navbar-fixed-top {
		display: block;
		position: static;
		margin-bottom: 0;
	}
	#page {
		margin-top: 0;
	}
	.breadcrumb {
		margin-left: 0;
		margin-right: 0;
	}
}

.navbar-fixed-top {
	border-color: #ddd;
}

#login
{
	float: right;
	margin: 0;
	padding: 5px 10px 0;
	text-align: right;
}

#admin-switch
{
	float: right;
	padding: 4px 10px 0;
	margin: 4px 4px 0 4px;
	color: red;
}

.toptions
{
	float: left;
	height: 24px;
	margin-bottom: 4px;
}

.toptions label
{
	display: inline-block !important;
	width: 160px;
	margin: 0;
}

.toptions-block {
    position: relative;
}

.toptions span {
	vertical-align: middle;
}

.toptions-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 5px;
    position: absolute;
    right: 5px;
}

.toptions-btn.set {
    top: 5px;
}

.toptions-btn.unset {
    top: 35px;
}

.toptions-btn.invert {
    top: 65px
}

.nav-list > .nav-header
{
	background-color: #C9E0ED;
	padding: 5px;
	font-size: larger;
}

.form-actions
{
	margin: 20px 0 20px 10px;
}

/* Transfer statuses */
.tstatus
{
    font-weight: bold;
}

.tstatus-process { /* default */
	color: #8080C0;
}

.tstatus-check {
	color: orange;
}

.tstatus-apply {
	color: #62c462;
}

.tstatus-cancel {
	color: red;
}

.tstatus-cart {
	color: lightcoral;
}

.tstatus-game {
	color: darkgreen;
}

#tconfigs-table td {
	cursor: pointer;
}

.breadcrumb {
	margin: 2px -15px 5px -15px;
}

h1 {
	margin-top: 10px;
}

.change-view-mode {
	margin-top: 5px;
}
.change-view-mode a {
	color: #ddd;
}
.change-view-mode .selected {
	color: lightcoral;
}
.change-view-mode a:hover {
	color: red;
}

.lowercase {
	text-transform: lowercase;
}

.flag-ru, .flag-en {
	outline: 1px solid black;
}
