#login
{
	float: right;
	margin: 0;
	padding: 5px 10px 0;
	text-align: right;
}

#admin-switch
{
	float: right;
	padding: 4px 10px 0;
	margin: 4px 4px 0 4px;
	color: red;
}

.toptions
{
	float: left;
}

.toptions label
{
	display: inline-block !important;
	width: 160px;
}

.toptions-block {
    position: relative;
}

.toptions-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 5px;
    position: absolute;
    right: 5px;
}

.toptions-btn.set {
    top: 5px;
}

.toptions-btn.unset {
    top: 35px;
}

.toptions-btn.invert {
    top: 65px
}

.nav-list > .nav-header
{
	background-color: #C9E0ED;
	padding: 5px;
	font-size: larger;
}
/*
.nav-list li
{
	border-color: #C9E0ED;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}*/

/* Icons */
.tdata-icon
{
	background-image: url(/chdphp/images/tdata-icons.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	vertical-align: text-bottom;
	width: 24px;
}

.tdata-icon.icon-default      { background-position:      0     0; }
.tdata-icon.icon-achievement  { background-position:  -26px     0; }
.tdata-icon.icon-action       { background-position:  -52px     0; }
.tdata-icon.icon-bag          { background-position:  -78px     0; }
.tdata-icon.icon-bank         { background-position: -104px     0; }
.tdata-icon.icon-bind         { background-position: -130px     0; }
.tdata-icon.icon-common       { background-position: -156px     0; }
.tdata-icon.icon-critter      { background-position: -182px     0; }
.tdata-icon.icon-currency     { background-position: -208px     0; }
.tdata-icon.icon-equipment    { background-position: -234px     0; }
.tdata-icon.icon-friend       { background-position:      0 -26px; }
.tdata-icon.icon-common       { background-position:  -26px -26px; }
.tdata-icon.icon-glyph        { background-position:  -52px -26px; }
.tdata-icon.icon-inventory    { background-position:  -78px -26px; }
.tdata-icon.icon-mount        { background-position: -104px -26px; }
.tdata-icon.icon-pet          { background-position: -130px -26px; }
.tdata-icon.icon-pmacro       { background-position: -156px -26px; }
/*.tdata-icon.icon-pvp       { background-position: -182px -26px; }*/
.tdata-icon.icon-quest        { background-position: -208px -26px; }
.tdata-icon.icon-questlog     { background-position: -234px -26px; }
.tdata-icon.icon-pmacro       { background-position: -156px -26px; }
.tdata-icon.icon-reputation   { background-position:      0 -52px; }
.tdata-icon.icon-skill        { background-position:  -26px -52px; }
.tdata-icon.icon-skillspell   { background-position:  -52px -52px; }
.tdata-icon.icon-spell        { background-position:  -78px -52px; }
.tdata-icon.icon-statistic    { background-position:      0     0; }
.tdata-icon.icon-talent       { background-position:      0     0; }
.tdata-icon.icon-taxi         { background-position: -156px     0; }
.tdata-icon.icon-title        { background-position:      0     0; }

.form-actions
{
	margin: 20px 0 20px 10px;
}

/* Transfer statuses */
.tstatus
{
    font-weight: bold;
}

.tstatus-process { /* default */
	color: #8080C0;
}

.tstatus-check {
	color: orange;
}

.tstatus-apply {
	color: #62c462;
}

.tstatus-cancel {
	color: red;
}

.tstatus-cart {
	color: lightcoral;
}

.tstatus-game {
	color: darkgreen;
}
