.spr {
    background-image: url(/chdphp/images/sprite-main.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
    vertical-align: middle;
}

.spr.create-char {
    width: 16px;
    height: 16px;
    background-position: 0 -34px;
}

.spr.delete-char {
    width: 16px;
    height: 16px;
    background-position: -17px -34px;
}

.spr.lua-dump {
    width: 16px;
    height: 16px;
    background-position: -34px 0;
}

.spr.checked {
    width: 16px;
    height: 16px;
    background-position: -16px -17px;
}

.spr.unchecked {
    width: 16px;
    height: 16px;
    background-position: 0 -17px;
}

.flag-en {
	width: 20px;
	height: 16px;
	background-position: -21px -51px;
}

.flag-ru {
	width: 20px;
	height: 16px;
	background-position: 0 -51px;
}
