#header
{
	height: 10px;
}

#create-char-sql
{
	/*height: 400px;*/
	overflow: auto;
	margin: 10px 0 5px;
}

#create-char-error
{
	font-family: monospace;
	white-space: pre-wrap;
}

#run-queries-table
{
	margin: 0;
	padding: 0 2px 2px 0;
}

.query-res
{
	width: 20px;
	height: 18px;
	display: inline-block;
	border: 1px solid black;
	margin: 1px 0 0 1px;
	padding: 1px;
	text-align: center;
	line-height: 16px;
}

.query-res-success
{
	background-color: #00DF70;
}

.btn-char-action
{
	width: 230px;
	margin-bottom: 3px !important;
}

.toptions-row
{
	margin: 0;
	padding: 0;
}

.toptions-row input, label
{
	margin: 0;
	padding: 0;
}

.toptions-row td
{
	padding: 0 2px !important;
}

.transfer-comment {
    width: 100%;
    height: 65px;
    resize: none;
    margin-top: 5px;
    display: block;
}