#header
{
	height: 10px;
}

#content {
	margin-bottom: 20px;
}

#create-char-sql
{
	/*height: 400px;*/
	overflow: auto;
	margin: 10px 0 5px;
}

#create-char-error
{
	font-family: monospace;
	white-space: pre-wrap;
}

#run-queries-table
{
	margin: 0;
	padding: 0 2px 2px 0;
}

.query-res
{
	width: 40px;
	height: 18px;
	display: inline-block;
	outline: 1px solid gray;
	margin: 1px 0 0 1px;
	padding: 1px;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
}
.query-res:hover {
	outline: 1px solid black;
}

.query-res-success
{
	background-color: #00DF70;
}

.query-res-failed {
	background-color: #FFC0CB;
}

.btn-char-action
{
	width: 230px;
	margin-bottom: 3px !important;
}

.toptions-row
{
	margin: 0;
	padding: 0;
}

.toptions-row input, label
{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.toptions-row td
{
	padding: 0 2px !important;
}

.transfer-comment {
    width: 100%;
    height: 100px;
    resize: none;
    margin: 5px 0;
    display: block;
}

#latest-version {
	font-size: 1.3em;
}

.transfer-actions {
	margin: 5px 0;
}
.transfer-actions:before {
	display: block;
	content: '';
	clear: both;
}

.create-char-top {
	margin-bottom: 10px;
}

.t-request-item {
	border: 1px solid #C9E0ED;
	margin: 0 0 3px 0;
	padding: 4px;
}

#version-table td, th {
	padding: 2px 5px;
}

#release-file-list {
	max-height: 400px;
	overflow: auto;
	border: 1px solid #ddd;
	padding-left: 60px;
}
#release-file-list li {
	font-family: monospace;
}